////////////////////////////////////////////////////////////////////////////////
/// Game lobby view
////////////////////////////////////////////////////////////////////////////////
.section-game-lobby {
	background-color: $brand-primary;
}

.free-list-slot {
	color: $gray;
	background-color: $body-bg;
}