////////////////////////////////////////////////////////////////////////////////
/// Join game view
////////////////////////////////////////////////////////////////////////////////
.section-player-join-game {
	padding-top: 10px;
	background-color: $brand-attention;

	.btn {
		width: 100%;
		max-width: $input-max-width;
	}
}