////////////////////////////////////////////////////////////////////////////////
/// Main view
////////////////////////////////////////////////////////////////////////////////
.section-new-game {
  background-color: $brand-primary;

  .btn-default {
    box-shadow: 0px 6px darken($btn-new-game-bg, 10%);
    background-color: $btn-new-game-bg;
  }
  .btn-default:hover {
    box-shadow: 0 4px darken($btn-new-game-bg, 10%);
    top: 2px;
  }
}

.section-join-game {
  background-color: $brand-attention;

  .btn-default {
    box-shadow: 0px 6px darken($btn-join-game-bg, 10%);
    background-color: $btn-join-game-bg;
  }
  .btn-default:hover {
    box-shadow: 0 4px darken($btn-join-game-bg, 10%);
    top: 2px;
  }
}
