///////////////////////////////////////////////////////////
/// Default button
////////////////////////////////////////////////////////////
.btn {
  border: medium none;
  cursor: pointer;
  padding: 5px;
  display: inline;
  font-weight: bold;
  outline: medium none;
  position: relative;
  font-size: $btn-default-font-size;
  white-space: nowrap;
  color: $text-color-inverse;
  border-radius: 0px 0px 5px 5px;


  &:disabled {
    cursor: default;
    color: $gray;
  }
}

.btn-large {
  padding: 25px 60px;
  text-transform: uppercase;


  .spinner {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
  }
}

///////////////////////////////////////////////////////////
/// Default button
////////////////////////////////////////////////////////////
.btn-default {
  box-shadow: 0px 6px darken($btn-default-bg, 10%);
  background-color: $btn-default-bg;  
  
  &:hover {
    box-shadow: 0 4px darken($btn-default-bg, 10%);
    top: 2px;
    &:disabled {
      box-shadow: 0px 0px darken($btn-default-bg, 10%);
      top: 0;
    }
  }
  &:disabled {
    box-shadow: 0px 0px darken($btn-default-bg, 10%);
  }
}

///////////////////////////////////////////////////////////
/// Primary button
////////////////////////////////////////////////////////////
.btn-primary {
  box-shadow: 0px 6px darken($btn-new-game-bg, 10%);
  background-color: $btn-new-game-bg;

  &:hover {
    box-shadow: 0 4px darken($btn-new-game-bg, 10%);
    top: 2px;

    &:disabled {
      box-shadow: 0px 0px darken($btn-new-game-bg, 10%);
      top: 0;
    }
  }
  &:disabled {
    box-shadow: 0px 0px darken($btn-new-game-bg, 10%);
  }
}

///////////////////////////////////////////////////////////
/// Secondary button
////////////////////////////////////////////////////////////
.btn-secondary {
  box-shadow: 0px 6px darken($btn-join-game-bg, 10%);
  background-color: $btn-join-game-bg;

  &:hover {
    box-shadow: 0 4px darken($btn-join-game-bg, 10%);
    top: 2px;

    &:disabled {
      box-shadow: 0px 0px darken($btn-join-game-bg, 10%);
      top: 0;
    }
  }
  &:disabled {
    box-shadow: 0px 0px darken($btn-join-game-bg, 10%);
  }
}

///////////////////////////////////////////////////////////
/// Dialog button
////////////////////////////////////////////////////////////
.btn-dialog {
  box-shadow: 0px 6px darken($dialog-bg, 20%);
  background-color: darken($dialog-bg, 10%);
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 4px darken($dialog-bg, 20%);
    top: 2px;

    &:disabled {
      box-shadow: 0px 0px darken($dialog-bg, 20%);
      top: 0;
    }
  }
  &:disabled {
    box-shadow: 0px 0px darken($dialog-bg, 20%);
  }
}