html, body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $text-color;
    line-height: $line-height-base;
    background-color: $body-bg;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: $link-color;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}