<div class="notification-panel table"><p class="table-cell center-center">{{ $storage.currentStateLabel }}</p></div>

<div class="playergame cards-panel" ng-disabled="$storage.isThrowCardsDisabled" ng-model="$storage.isThrowCardsDisabled">
  <ul class="playing-card-stack" >
    <li ng-repeat="card in $storage.cards track by $index">
      <playing-card suit="card.suit" value="card.value" ng-click="throwCard(card)"></playing-card>
    </li>
  </ul>
</div>

<div class="guess-panel">
  <div class="button-wrapper">
    <button ng-repeat="i in [21]|makeRange track by $index" 
    		ng-click="guessNumberOfTricks($index)" 
    		ng-disabled="$storage.currentRound < $index || $storage.isGuessTricksDisabled" 
    		ng-model="$storage.isGuessTricksDisabled">{{ $index }}</button>
  </div>
</div>
